doctype html
html
    include header.pug
    head
        title=title
        meta(name="keywords")(content="Bent Oak Systems, CI/CD, Web Development, Software Development, Technical Support")

    body
        h1=title
        ul
        each ab in about
            h2= ab.title
            img(src=ab.background)(alt="top image")(style="width: 150px; height: 150px")
            br
            description= ab.description
            hr/
        include footer.pug