extends layout

block content
    if language === 'English'
        a(href='/de/contact')='Contact'
    else if language === 'German'
        a(href='/en/contact')='Kontakt'
    - let fo = footer[0]
    h1=contactSection
    ul
        li= fo.address
        li= fo.phone
        a(href='mailto:' + fo.email)= fo.email
    hr/