doctype html
html
    include header.pug
    head
        title=title
        meta(name="keywords")(content="Bent Oak Systems, Our Process, Our Toolbox")

    body
        h1=title
        each slide in topSection
            div
                a(href='/about-us'): b=slide.title
                description(style="margin-left : 10px")=slide.intro
                br/
                img(src=slide.backgroundPic)(alt="top image")(style="max-width: 80vw;")
            br/
        hr/

        h2=processTitle
        ul
        each pro in ourProcess
            li=pro.title
            description= pro.description
        hr/

        h2=toolboxTitle
        div(style="display:inline-block;")
        each tool in toolbox
            div(style="width: 150px; height: 150px ;display:inline-block; margin-left: 20px; border-style: solid; border-width: 0.1px; border-color: gray; text-align: center;")
                a(href=tool.url): img(src=tool.file.url)(alt="top image")(style="width: 100px; height: 100px")
                br/
                b=tool.title

        br/
        br/
        include footer.pug