extends layout

block content
        h1=title
        div
            each p in pricing
                h2=`${p.title} (${p.acronym})`
                ul
                    each x,i in p
                        if i.includes('_price')
                            if title==='Preisgestaltung'
                                if i==='days_price'
                                    li=i.replace('days_price', 'Tägliche Kosten') + ': £' + x
                                if i==='months_price'
                                    li=i.replace('months_price', 'Monatliche Kosten') + ': £' + x
                                if i==='quarters_price'
                                    li=i.replace('quarters_price', 'Vierteljährliche Kosten') + ': £' + x
                                if i==='support hours_price'
                                    li=i.replace('support hours_price', 'Stündliche Supportkosten') + ': £' + x
                                if i==='support months_price'
                                    li=i.replace('support months_price', 'Monatliche Supportkosten') + ': £' + x
                            else    
                                li=i.replace(/_/g, ' ').replace(/s /, 'ly ').replace(/dayly /, 'daily ') + ': £' +x
                        else if ['__v','_id'].includes(i)
                            span=''
                        else if ['pros','cons'].includes(i)
                            li
                                h2=i
                                ul
                                    each y in x
                                        li=y
