doctype html
html
    include header.pug
    head
        title= title
        meta(name="keywords")(content="Burgista Timesheet, Planning and Budgeting App For Aria Teb, Quran Together App, " +
        "\n" +
        "Dr Mandegar's Electronic Medical Record App, Burgista Internal Delivery App")
        body
            h1= title
            ul
            each project in projects
                h2= project.title
                img(src=project.mainImage.url)(alt="top image")(style="width: 150px; height: 150px")
                h4= project.shortDescription
                hr/
        include footer.pug